<!DOCTYPE html>
<html lang="en">
  <head>
    <% include partials/templates/head.ejs %>
    <title>Need Ride</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/need.css"/>
    </head>
    <body>
        <% include partials/templates/header.ejs %>
        <h1>I need a ride</h1>
         <form action="/needride" method="post" id="post_form">
                <div class="row-fluid">
                <div class="form-group1 span4">
                    <label for="source_loc">Source Location</label>
                    <input type="text" class="form-control" id="source" name="source" placeholder="Source">
                </div>
                <div class="form-group2 span4">
                    <label for="dest_loc">Destination Location</label>
                    <input type="text" class="form-control" id="destination" name ="destination" placeholder="Destination">
                </div>
                <div class="form-group3 datetimepicker span4">
                    <label for="date">Date</label>
                    <input type="text" class="form-control" id="date" name="date"/><br>
                </div>
        <section>
            <button type="submit" form="post_form" value="Submit" class='dotted thick'>Show Rides!</button>
            
        </section>
            </div>
        </form>
        <% if(typeof rides !== 'undefined') { %>
        <table style="width:100%">
            <tr>
                <th>Destination</th>
                <th>Source</th>
                <th>Time</th>
                <th>Seats</th>
                <th>Stops</th>
                <th>Negotiable</th>
                <th>Build</th>
                <th>Name</th>
                <th>Phone Number </th>
                <th>Email</th>
            </tr> 
        <% for(var i=0; i <rides.length ; i++) { %>
            <tr>
                <td><%=rides[i].destination %></td>
                <td><%=rides[i].source %></td> 
                <td><%=rides[i].time %></td>
                <td><%=rides[i].seats %></td>
                <td><%=rides[i].stops %></td>
                <td><%=rides[i].negotiable %></td>
                <td><%=rides[i].build %></td>
                <td><%=rides[i].name %></td>
                <td><%=rides[i].pno %></td>
                 <td><%=rides[i].email %></td>
            </tr>
        <% } %>
    </table>
        <% } %>
        <script type="text/javascript">
            $('#date').datetimepicker({
                format: 'YYYY-MM-DD HH:mm:ss'
            });
        </script>
        <% include partials/templates/footer.ejs %>
    </body>
</html>